* {
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

body {
  color: $color4;
  font-size: 13px;
  font-weight: 400;
  @include font();

  @include mq(ipad) {
    font-size: 1.27vw;
  }

  @include mq(sp) {
    font-size: 2vw;
  }
}

a {
  display: inline-block;
  color: $color4;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  background-color: $color6;
  border-top: 5px solid #76c38f;
}

.l-inner {
  margin: 0 auto;
  max-width: 960px;

  @include mq(ipad) {
    max-width: 93.75vw;
  }

  @include mq(sp) {
    max-width: 82.163vw;
  }
}

.mv {
  padding: 45px 0;
  background-color: $color1;

  @include mq(ipad) {
    padding: 4.395vw 0;
  }

  @include mq(sp) {
    padding: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(sp) {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
      width: 100%;
      padding: 2.867vw 0;
      background-color: $color10;
    }

    @include mq(sp) {

      .menu,
      .menu span {
        display: inline-block;
        box-sizing: border-box;
        transition: all .4s;
      }

      .menu {
        position: absolute;
        top: 50%;
        left: 4.781vw;
        width: 4.65vw;
        height: 3.219vw;
        cursor: pointer;
        transform: translateY(-50%);

        &.active {
          span {
            &:nth-of-type(1) {
              transform: translateY(1.663vw) rotate(-44deg);
            }
          }
        }

        &.active {
          span {
            &:nth-of-type(2) {
              opacity: 0;
            }
          }
        }

        &.active {
          span {
            &:nth-of-type(3) {
              transform: translateY(-1.263vw) rotate(44deg);
            }
          }
        }

        span {
          position: absolute;
          left: 0;
          width: 100%;
          height: 0.358vw;
          background-color: $color3;
          border-radius: 5px;

          &:nth-of-type(1) {
            top: 0;
          }

          &:nth-of-type(2) {
            top: 1.419vw;
          }

          &:nth-of-type(3) {
            bottom: 0;
          }
        }
      }
    }

    h1 {
      max-width: 183px;
      @include mq(ipad) {
        max-width: 17.871vw;
      }
      @include mq(sp) {
        padding-left: 12.43vw;
        max-width: 37.859vw;
      }
    }

    .gnav {
      padding-top: 5px;

      @include mq(ipad) {
        padding-top: 0.488vw;
      }

      @include mq(sp) {
        position: fixed;
        top: 10.425vw;
        left: -100vw;
        z-index: 111;
        width: 100%;
        background-color: $color10;
      }

      ul {
        display: flex;

        @include mq(sp) {
          display: block;
          padding: 3.651vw 0;
          text-align: center;
        }

        li {
          @include mq(sp) {
            margin-bottom: 1.304vw;
          }

          a {
            padding: 10px 20px;
            letter-spacing: -0.1px;
            border-radius: 10px;

            @include mq(ipad) {
              padding: 0.977vw 1.953vw;
              letter-spacing: -0.01vw;
              border-radius: 0.977vw;
            }

            @include mq(sp) {
              padding: 1.304vw 2.608vw;
              letter-spacing: -0.013vw;
              border-radius: 1.304vw;
            }

            &:hover,
            &.active {
              background-color: $color2;
            }
          }
        }
      }
    }
  }

  .mv-blk {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 41px 60px 6px;

    @include mq(ipad) {
      padding: 4.004vw 5.859vw 0.586vw;
    }

    @include mq(sp) {
      display: block;
      padding: 12.346vw 7.823vw 5.782vw;
      text-align: center;
    }

    &::before,
    &::after {
      position: absolute;
      top: 51%;
      width: 15px;
      height: 28px;
      content: '';

      @include mq(ipad) {
        width: 1.465vw;
        height: 2.734vw;
      }

      @include mq(sp) {
        width: 1.956vw;
        height: 3.651vw;
      }
    }

    &::before {
      left: 0;
      background: url('/img/img_left_arrow.png') no-repeat center/contain;
    }

    &::after {
      right: 0;
      background: url('/img/img_right_arrow.png') no-repeat center/contain;
    }

    .mv-txt-blk {
      padding-top: 95px;

      @include mq(ipad) {
        padding-top: 9.277vw;
      }

      @include mq(sp) {
        padding-top: 1.386vw;
      }

      .mv-txt-ttl {
        font-size: 46px;

        @include mq(ipad) {
          font-size: 4.492vw;
        }

        @include mq(sp) {
          font-size: 5.997vw;
        }
      }

      .mv-txt {
        line-height: 1.6;
        padding: 23px 0 17px;
        color: $color3;
        font-size: 12px;
        letter-spacing: 0.49px;

        @include mq(ipad) {
          padding: 2.246vw 0 1.66vw;
          font-size: 1.172vw;
          letter-spacing: 0.048vw;
        }

        @include mq(sp) {
          padding: 2.999vw 0 2.216vw;
          font-size: 1.8vw;
          letter-spacing: 0.064vw;
        }
      }

      a {
        padding: 10px 18px;
        background-color: $color2;
        border-radius: 10px;

        @include mq(ipad) {
          padding: 0.977vw 1.758vw;
          border-radius: 0.977vw;
        }
        @include mq(sp) {
          padding: 1.304vw 2.347vw;
          border-radius: 1.304vw;
        }
      }

    }

    .mv-img {
      max-width: 430px;

      @include mq(ipad) {
        max-width: 41.992vw;
      }

      @include mq(sp) {
        margin: 0 auto;
        padding-top: 5.215vw;
        max-width: 47.063vw;
      }
    }
  }
}

.cmn-ttl {
  @include cmn-ttl();
}

.sec-service {
  padding: 60px 0;
  text-align: center;

  @include mq(ipad) {
    padding: 5.859vw 0;
  }

  @include mq(sp) {
    padding: 7.823vw 0;
  }

  .service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;

    @include mq(ipad) {
      padding-top: 3.906vw;
    }

    @include mq(sp) {
      width: 73.189vw;
      margin: 0 auto;
      padding-top: 5.215vw;
    }

    li {
      width: 225px;
      padding: 22px 32px;
      background-color: $color4;

      @include mq(ipad) {
        width: 21.973vw;
        padding: 2.148vw 3.125vw;
      }

      @include mq(sp) {
        width: 33.335vw;
        margin-bottom: 3.911vw;
        padding: 2.868vw 4.172vw;
      }

      .service-list-ttl {
        padding: 13px 0 18px;
        color: $color7;
        font-size: 32px;

        @include mq(ipad) {
          padding: 1.27vw 0 1.758vw;
          font-size: 3.125vw;
        }

        @include mq(sp) {
          padding: 1.695vw 0 2.347vw;
          font-size: 4.172vw;
        }
      }

      .service-list-txt {
        line-height: 1.3;
        color: $color3;
        font-size: 12px;
        letter-spacing: 0.38px;

        @include mq(ipad) {
          font-size: 1.172vw;
          letter-spacing: 0.037vw;
        }

        @include mq(sp) {
          font-size: 1.8vw;;
          letter-spacing: 0.05vw;
        }
      }

      &:hover,
      &.active {
        background-color: $color2;

        .service-list-ttl,
        .service-list-txt {
          color: $color4;
        }
      }
    }
  }
}

.sec-latest {
  text-align: center;
  padding-bottom: 83px;
  
  @include mq(ipad) {
    padding-bottom: 8.105vw;
  }

  @include mq(sp) {
    padding-bottom: 10.821vw;
    margin-top: -1vw;
  }

  .latest-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;

    @include mq(ipad) {
      padding-top: 3.906vw;
    }

    @include mq(sp) {
      padding-top: 5.215vw;
    }

    li {
      width: 300px;
      margin-bottom: 20px;
      border: 5px solid $color4;

      @include mq(ipad) {
        width: 29.297vw;
        margin-bottom: 1.953vw;
        border: 0.488vw solid $color4;
      }

      @include mq(sp) {
        width: 39.113vw;
        margin-bottom: 2.608vw;
        border: 0.652vw solid $color4;
      }

      &:hover,
      &.active {
        border: 5px solid $color2;

        @include mq(ipad) {
          border: 0.488vw solid $color2;
        }

        @include mq(sp) {
          border: 0.652vw solid $color2;
        }
      }

      .latest-txt {
        padding: 8px 0;
        background-color: $color9;
        letter-spacing: 0.5px;

        @include mq(ipad) {
          padding: 0.781vw 0;
          letter-spacing: 0.049vw;
        }

        @include mq(sp) {
          padding: 1.043vw 0;
          letter-spacing: 0.065vw;
        }
      }
    }
  }
}

.ft-sec {
  background-color: $color6;

  .ft-link {
    padding: 40px 0;
    background-color: $color10;
    border-bottom: 1px solid $color8;

    @include mq(ipad) {
      padding: 3.906vw 0;
      border-bottom: 0.098vw solid $color8;
    }

    @include mq(sp) {
      padding: 5.215vw 0;
      border-bottom: 0.13vw solid $color8;
    }

    .ft-ttl {
      font-size: 16px;
      letter-spacing: -0.1px;

      @include mq(ipad) {
        font-size: 1.563vw;
        letter-spacing: -0.01vw;
      }

      @include mq(sp) {
        font-size: 3vw;
        letter-spacing: -0.013vw;
      }
    }

    .blk {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include mq(sp) {
        width: 68.189vw;
        margin: 0 auto;
      }

      .blk-one,
      .blk-two,
      .blk-three,
      .blk-four {
        width: 225px;

        @include mq(ipad) {
          width: 21.973vw;
        }

        @include mq(sp) {
          width: 29.335vw;
        }
      }

      .blk-one {

        @include mq(sp) {
          margin-bottom: 5.215vw;
        }

        .post-ttl {
          padding: 33px 0 16px;
          color: $color2;
          letter-spacing: 1.3px;

          @include mq(ipad) {
            padding: 3.223vw 0 1.563vw;
            letter-spacing: 0.127vw;
          }

          @include mq(sp) {
            padding: 4.302vw 0 2.086vw;
            letter-spacing: 0.169vw;
          }
        }

        .domain-txt {
          color: $color11;
          font-size: 10px;
          letter-spacing: 0.9px;

          @include mq(ipad) {
            font-size: 0.977vw;
            letter-spacing: 0.088vw;
          }

          @include mq(sp) {
            font-size: 1.5vw;
            letter-spacing: 0.117vw;
          }

          span {
            color: $color2;
          }
        }

        .date,
        .blk-txt {
          color: $color3;
        }

        .date {
          padding: 12px 0 11px;
          font-size: 10px;
          letter-spacing: 0.5px;

          @include mq(ipad) {
            padding: 1.172vw 0 1.074vw;
            font-size: 0.977vw;
            letter-spacing: 0.049vw;
          }

          @include mq(sp) {
            padding: 1.565vw 0 1.434vw;
            font-size: 1.5vw;
            letter-spacing: 0.065vw;
          }
        }

        .blk-txt {
          line-height: 1.6;
          letter-spacing: 0.4px;

          @include mq(ipad) {
            letter-spacing: 0.039vw;
          }

          @include mq(sp) {
            letter-spacing: -0.1vw;
          }
        }

        .read-more {
          padding-top: 11px;
          color: $color2;
          letter-spacing: 0.4px;

          @include mq(ipad) {
            padding-top: 1.074vw;
            letter-spacing: 0.039vw;
          }

          @include mq(sp) {
            padding-top: 1.434vw;
            letter-spacing: 0.052vw;
          }
        }
      }

      .blk-two {
        @include mq(sp) {
          margin-bottom: 5.215vw;
        }

        ul {
          padding-top: 27px;

          @include mq(ipad) {
            padding-top: 2.637vw;
          }

          @include mq(sp) {
            padding-top: 3.52vw;
          }

          li {
            position: relative;
            padding-left: 9px;
            border-bottom: 1px solid $color12;

            @include mq(ipad) {
              padding-left: 0.879vw;
              border-bottom: 0.098vw solid $color12;
            }

            @include mq(sp) {
              padding-left: 1.173vw;
              border-bottom: 0.13vw solid $color12;
            }

            &::before {
              position: absolute;
              top: 50%;
              left: 0;
              width: 5px;
              height: 5px;
              background: url('/img/img_path.png') no-repeat center/contain;
              content: '';
              transform: translateY(-50%);

              @include mq(ipad) {
                width: 0.488vw;
                height: 0.488vw;
              }

              @include mq(sp) {
                width: 0.652vw;
                height: 0.652vw;
              }
            }

            a {
              line-height: 1.5;
              padding: 7px 0;
              color: $color2;
              letter-spacing: 0.5px;

              @include mq(ipad) {
                padding: 0.684vw 0;
                letter-spacing: 0.049vw;
              }

              @include mq(sp) {
                padding: 0.913vw 0;
                letter-spacing: 0.065vw;
              }
            }
          }
        }
      }

      .blk-three {

        .ft-ttl {
          padding-bottom: 33px;

          @include mq(ipad) {
            padding-bottom: 3.223vw;
          }

          @include mq(sp) {
            padding-bottom: 4.302vw;
          }
        }

        p {
          line-height: 1.6;
          color: $color3;
          letter-spacing: 0.4px;

          @include mq(ipad) {
            letter-spacing: 0.039vw;
          }

          @include mq(sp) {
            letter-spacing: -0.1vw;;
          }

          span {
            color: $color2;
          }
        }

        p+p {
          padding-top: 21px;

          @include mq(ipad) {
            padding-top: 2.051vw;
          }

          @include mq(sp) {
            padding-top: 2.738vw;
          }
        }
      }

      .blk-four {
        form {
          padding-top: 30px;

          @include mq(ipad) {
            padding-top: 2.93vw;
          }

          @include mq(sp) {
            padding-top: 3.911vw;
          }

          input,
          textarea {
            width: 100%;
            margin-bottom: 8px;
            padding: 11px;
            border: none;
            background-color: $color13;
            color: $color3;
            font-size: 13px;
            letter-spacing: 0.3px;
            outline: none;
            border-radius: 10px;
            @include font();

            @include mq(ipad) {
              margin-bottom: 0.781vw;
              padding: 1.074vw;
              font-size: 1.27vw;
              letter-spacing: 0.029vw;
              border-radius: 0.977vw;
            }

            @include mq(sp) {
              padding: 1.434vw;
              font-size: 1.695vw;
              letter-spacing: 0.039vw;
              border-radius: 1.304vw;
            }
          }

          textarea {
            resize: none;
          }

          button {
            padding: 10px 12px;
            border: none;
            background-color: $color2;
            color: $color5;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1.1px;
            outline: none;
            border-radius: 10px;
            @include font();

            @include mq(ipad) {
              padding: 0.977vw 1.172vw;
              font-size: 1.172vw;
              letter-spacing: 0.107vw;
              border-radius: 0.977vw;
            }

            @include mq(sp) {
              padding: 1.304vw 1.565vw;
              font-size: 1.8vw;;
              letter-spacing: 0.143vw;
              border-radius: 1.304vw;
            }
          }
        }
      }
    }
  }

  .copy-blk {
    padding: 24px 0;
    background-color: $color14;
    color: $color3;

    @include mq(ipad) {
      padding: 2.344vw 0;
    }

    @include mq(sp) {
      padding: 3.129vw 0;
    }

    .copy {
      display: flex;
      justify-content: space-between;
      letter-spacing: 0.37px;

      @include mq(ipad) {
        letter-spacing: 0.036vw;
      }

      @include mq(sp) {
        letter-spacing: 0.048vw;
      }
    }
  }
}