@font-face {
  font-family: "Georgia";
  src: url("../font/Georgia.ttf");
}
* {
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

body {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  font-family: "Georgia", serif;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 1.27vw;
  }
}
@media screen and (max-width: 767.9px) {
  body {
    font-size: 2vw;
  }
}

a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  background-color: #b27f7f;
  border-top: 5px solid #76c38f;
}

.l-inner {
  margin: 0 auto;
  max-width: 960px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .l-inner {
    max-width: 93.75vw;
  }
}
@media screen and (max-width: 767.9px) {
  .l-inner {
    max-width: 82.163vw;
  }
}

.mv {
  padding: 45px 0;
  background-color: #7c5959;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mv {
    padding: 4.395vw 0;
  }
}
@media screen and (max-width: 767.9px) {
  .mv {
    padding: 0;
  }
}
.mv .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767.9px) {
  .mv .header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    padding: 2.867vw 0;
    background-color: #444444;
  }
}
@media screen and (max-width: 767.9px) {
  .mv .header .menu,
.mv .header .menu span {
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.4s;
  }
  .mv .header .menu {
    position: absolute;
    top: 50%;
    left: 4.781vw;
    width: 4.65vw;
    height: 3.219vw;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .mv .header .menu.active span:nth-of-type(1) {
    transform: translateY(1.663vw) rotate(-44deg);
  }
  .mv .header .menu.active span:nth-of-type(2) {
    opacity: 0;
  }
  .mv .header .menu.active span:nth-of-type(3) {
    transform: translateY(-1.263vw) rotate(44deg);
  }
  .mv .header .menu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.358vw;
    background-color: #979797;
    border-radius: 5px;
  }
  .mv .header .menu span:nth-of-type(1) {
    top: 0;
  }
  .mv .header .menu span:nth-of-type(2) {
    top: 1.419vw;
  }
  .mv .header .menu span:nth-of-type(3) {
    bottom: 0;
  }
}
.mv .header h1 {
  max-width: 183px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mv .header h1 {
    max-width: 17.871vw;
  }
}
@media screen and (max-width: 767.9px) {
  .mv .header h1 {
    padding-left: 12.43vw;
    max-width: 37.859vw;
  }
}
.mv .header .gnav {
  padding-top: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mv .header .gnav {
    padding-top: 0.488vw;
  }
}
@media screen and (max-width: 767.9px) {
  .mv .header .gnav {
    position: fixed;
    top: 10.425vw;
    left: -100vw;
    z-index: 111;
    width: 100%;
    background-color: #444444;
  }
}
.mv .header .gnav ul {
  display: flex;
}
@media screen and (max-width: 767.9px) {
  .mv .header .gnav ul {
    display: block;
    padding: 3.651vw 0;
    text-align: center;
  }
}
@media screen and (max-width: 767.9px) {
  .mv .header .gnav ul li {
    margin-bottom: 1.304vw;
  }
}
.mv .header .gnav ul li a {
  padding: 10px 20px;
  letter-spacing: -0.1px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mv .header .gnav ul li a {
    padding: 0.977vw 1.953vw;
    letter-spacing: -0.01vw;
    border-radius: 0.977vw;
  }
}
@media screen and (max-width: 767.9px) {
  .mv .header .gnav ul li a {
    padding: 1.304vw 2.608vw;
    letter-spacing: -0.013vw;
    border-radius: 1.304vw;
  }
}
.mv .header .gnav ul li a:hover, .mv .header .gnav ul li a.active {
  background-color: #76c38f;
}
.mv .mv-blk {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 41px 60px 6px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mv .mv-blk {
    padding: 4.004vw 5.859vw 0.586vw;
  }
}
@media screen and (max-width: 767.9px) {
  .mv .mv-blk {
    display: block;
    padding: 12.346vw 7.823vw 5.782vw;
    text-align: center;
  }
}
.mv .mv-blk::before, .mv .mv-blk::after {
  position: absolute;
  top: 51%;
  width: 15px;
  height: 28px;
  content: "";
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mv .mv-blk::before, .mv .mv-blk::after {
    width: 1.465vw;
    height: 2.734vw;
  }
}
@media screen and (max-width: 767.9px) {
  .mv .mv-blk::before, .mv .mv-blk::after {
    width: 1.956vw;
    height: 3.651vw;
  }
}
.mv .mv-blk::before {
  left: 0;
  background: url("/img/img_left_arrow.png") no-repeat center/contain;
}
.mv .mv-blk::after {
  right: 0;
  background: url("/img/img_right_arrow.png") no-repeat center/contain;
}
.mv .mv-blk .mv-txt-blk {
  padding-top: 95px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mv .mv-blk .mv-txt-blk {
    padding-top: 9.277vw;
  }
}
@media screen and (max-width: 767.9px) {
  .mv .mv-blk .mv-txt-blk {
    padding-top: 1.386vw;
  }
}
.mv .mv-blk .mv-txt-blk .mv-txt-ttl {
  font-size: 46px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mv .mv-blk .mv-txt-blk .mv-txt-ttl {
    font-size: 4.492vw;
  }
}
@media screen and (max-width: 767.9px) {
  .mv .mv-blk .mv-txt-blk .mv-txt-ttl {
    font-size: 5.997vw;
  }
}
.mv .mv-blk .mv-txt-blk .mv-txt {
  line-height: 1.6;
  padding: 23px 0 17px;
  color: #979797;
  font-size: 12px;
  letter-spacing: 0.49px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mv .mv-blk .mv-txt-blk .mv-txt {
    padding: 2.246vw 0 1.66vw;
    font-size: 1.172vw;
    letter-spacing: 0.048vw;
  }
}
@media screen and (max-width: 767.9px) {
  .mv .mv-blk .mv-txt-blk .mv-txt {
    padding: 2.999vw 0 2.216vw;
    font-size: 1.8vw;
    letter-spacing: 0.064vw;
  }
}
.mv .mv-blk .mv-txt-blk a {
  padding: 10px 18px;
  background-color: #76c38f;
  border-radius: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mv .mv-blk .mv-txt-blk a {
    padding: 0.977vw 1.758vw;
    border-radius: 0.977vw;
  }
}
@media screen and (max-width: 767.9px) {
  .mv .mv-blk .mv-txt-blk a {
    padding: 1.304vw 2.347vw;
    border-radius: 1.304vw;
  }
}
.mv .mv-blk .mv-img {
  max-width: 430px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mv .mv-blk .mv-img {
    max-width: 41.992vw;
  }
}
@media screen and (max-width: 767.9px) {
  .mv .mv-blk .mv-img {
    margin: 0 auto;
    padding-top: 5.215vw;
    max-width: 47.063vw;
  }
}

.cmn-ttl {
  position: relative;
}
.cmn-ttl::before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin: 0 auto;
  background-color: #303030;
  content: "";
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cmn-ttl::before {
    height: 0.391vw;
  }
}
@media screen and (max-width: 767.9px) {
  .cmn-ttl::before {
    height: 0.522vw;
  }
}
.cmn-ttl span {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 8px 13px;
  background-color: #303030;
  font-size: 32px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cmn-ttl span {
    padding: 0.781vw 1.27vw;
    font-size: 3.125vw;
    border-radius: 0.977vw;
  }
}
@media screen and (max-width: 767.9px) {
  .cmn-ttl span {
    padding: 1.043vw 1.695vw;
    font-size: 4.172vw;
    border-radius: 1.304vw;
  }
}

.sec-service {
  padding: 60px 0;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec-service {
    padding: 5.859vw 0;
  }
}
@media screen and (max-width: 767.9px) {
  .sec-service {
    padding: 7.823vw 0;
  }
}
.sec-service .service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec-service .service-list {
    padding-top: 3.906vw;
  }
}
@media screen and (max-width: 767.9px) {
  .sec-service .service-list {
    width: 73.189vw;
    margin: 0 auto;
    padding-top: 5.215vw;
  }
}
.sec-service .service-list li {
  width: 225px;
  padding: 22px 32px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec-service .service-list li {
    width: 21.973vw;
    padding: 2.148vw 3.125vw;
  }
}
@media screen and (max-width: 767.9px) {
  .sec-service .service-list li {
    width: 33.335vw;
    margin-bottom: 3.911vw;
    padding: 2.868vw 4.172vw;
  }
}
.sec-service .service-list li .service-list-ttl {
  padding: 13px 0 18px;
  color: #333333;
  font-size: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec-service .service-list li .service-list-ttl {
    padding: 1.27vw 0 1.758vw;
    font-size: 3.125vw;
  }
}
@media screen and (max-width: 767.9px) {
  .sec-service .service-list li .service-list-ttl {
    padding: 1.695vw 0 2.347vw;
    font-size: 4.172vw;
  }
}
.sec-service .service-list li .service-list-txt {
  line-height: 1.3;
  color: #979797;
  font-size: 12px;
  letter-spacing: 0.38px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec-service .service-list li .service-list-txt {
    font-size: 1.172vw;
    letter-spacing: 0.037vw;
  }
}
@media screen and (max-width: 767.9px) {
  .sec-service .service-list li .service-list-txt {
    font-size: 1.8vw;
    letter-spacing: 0.05vw;
  }
}
.sec-service .service-list li:hover, .sec-service .service-list li.active {
  background-color: #76c38f;
}
.sec-service .service-list li:hover .service-list-ttl,
.sec-service .service-list li:hover .service-list-txt, .sec-service .service-list li.active .service-list-ttl,
.sec-service .service-list li.active .service-list-txt {
  color: #ffffff;
}

.sec-latest {
  text-align: center;
  padding-bottom: 83px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec-latest {
    padding-bottom: 8.105vw;
  }
}
@media screen and (max-width: 767.9px) {
  .sec-latest {
    padding-bottom: 10.821vw;
    margin-top: -1vw;
  }
}
.sec-latest .latest-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec-latest .latest-list {
    padding-top: 3.906vw;
  }
}
@media screen and (max-width: 767.9px) {
  .sec-latest .latest-list {
    padding-top: 5.215vw;
  }
}
.sec-latest .latest-list li {
  width: 300px;
  margin-bottom: 20px;
  border: 5px solid #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec-latest .latest-list li {
    width: 29.297vw;
    margin-bottom: 1.953vw;
    border: 0.488vw solid #ffffff;
  }
}
@media screen and (max-width: 767.9px) {
  .sec-latest .latest-list li {
    width: 39.113vw;
    margin-bottom: 2.608vw;
    border: 0.652vw solid #ffffff;
  }
}
.sec-latest .latest-list li:hover, .sec-latest .latest-list li.active {
  border: 5px solid #76c38f;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec-latest .latest-list li:hover, .sec-latest .latest-list li.active {
    border: 0.488vw solid #76c38f;
  }
}
@media screen and (max-width: 767.9px) {
  .sec-latest .latest-list li:hover, .sec-latest .latest-list li.active {
    border: 0.652vw solid #76c38f;
  }
}
.sec-latest .latest-list li .latest-txt {
  padding: 8px 0;
  background-color: #3e3e3e;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec-latest .latest-list li .latest-txt {
    padding: 0.781vw 0;
    letter-spacing: 0.049vw;
  }
}
@media screen and (max-width: 767.9px) {
  .sec-latest .latest-list li .latest-txt {
    padding: 1.043vw 0;
    letter-spacing: 0.065vw;
  }
}

.ft-sec {
  background-color: #b27f7f;
}
.ft-sec .ft-link {
  padding: 40px 0;
  background-color: #444444;
  border-bottom: 1px solid #000000;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link {
    padding: 3.906vw 0;
    border-bottom: 0.098vw solid #000000;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link {
    padding: 5.215vw 0;
    border-bottom: 0.13vw solid #000000;
  }
}
.ft-sec .ft-link .ft-ttl {
  font-size: 16px;
  letter-spacing: -0.1px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .ft-ttl {
    font-size: 1.563vw;
    letter-spacing: -0.01vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .ft-ttl {
    font-size: 3vw;
    letter-spacing: -0.013vw;
  }
}
.ft-sec .ft-link .blk {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk {
    width: 68.189vw;
    margin: 0 auto;
  }
}
.ft-sec .ft-link .blk .blk-one,
.ft-sec .ft-link .blk .blk-two,
.ft-sec .ft-link .blk .blk-three,
.ft-sec .ft-link .blk .blk-four {
  width: 225px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-one,
.ft-sec .ft-link .blk .blk-two,
.ft-sec .ft-link .blk .blk-three,
.ft-sec .ft-link .blk .blk-four {
    width: 21.973vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-one,
.ft-sec .ft-link .blk .blk-two,
.ft-sec .ft-link .blk .blk-three,
.ft-sec .ft-link .blk .blk-four {
    width: 29.335vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-one {
    margin-bottom: 5.215vw;
  }
}
.ft-sec .ft-link .blk .blk-one .post-ttl {
  padding: 33px 0 16px;
  color: #76c38f;
  letter-spacing: 1.3px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-one .post-ttl {
    padding: 3.223vw 0 1.563vw;
    letter-spacing: 0.127vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-one .post-ttl {
    padding: 4.302vw 0 2.086vw;
    letter-spacing: 0.169vw;
  }
}
.ft-sec .ft-link .blk .blk-one .domain-txt {
  color: #666666;
  font-size: 10px;
  letter-spacing: 0.9px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-one .domain-txt {
    font-size: 0.977vw;
    letter-spacing: 0.088vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-one .domain-txt {
    font-size: 1.5vw;
    letter-spacing: 0.117vw;
  }
}
.ft-sec .ft-link .blk .blk-one .domain-txt span {
  color: #76c38f;
}
.ft-sec .ft-link .blk .blk-one .date,
.ft-sec .ft-link .blk .blk-one .blk-txt {
  color: #979797;
}
.ft-sec .ft-link .blk .blk-one .date {
  padding: 12px 0 11px;
  font-size: 10px;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-one .date {
    padding: 1.172vw 0 1.074vw;
    font-size: 0.977vw;
    letter-spacing: 0.049vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-one .date {
    padding: 1.565vw 0 1.434vw;
    font-size: 1.5vw;
    letter-spacing: 0.065vw;
  }
}
.ft-sec .ft-link .blk .blk-one .blk-txt {
  line-height: 1.6;
  letter-spacing: 0.4px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-one .blk-txt {
    letter-spacing: 0.039vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-one .blk-txt {
    letter-spacing: -0.1vw;
  }
}
.ft-sec .ft-link .blk .blk-one .read-more {
  padding-top: 11px;
  color: #76c38f;
  letter-spacing: 0.4px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-one .read-more {
    padding-top: 1.074vw;
    letter-spacing: 0.039vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-one .read-more {
    padding-top: 1.434vw;
    letter-spacing: 0.052vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-two {
    margin-bottom: 5.215vw;
  }
}
.ft-sec .ft-link .blk .blk-two ul {
  padding-top: 27px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-two ul {
    padding-top: 2.637vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-two ul {
    padding-top: 3.52vw;
  }
}
.ft-sec .ft-link .blk .blk-two ul li {
  position: relative;
  padding-left: 9px;
  border-bottom: 1px solid #404040;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-two ul li {
    padding-left: 0.879vw;
    border-bottom: 0.098vw solid #404040;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-two ul li {
    padding-left: 1.173vw;
    border-bottom: 0.13vw solid #404040;
  }
}
.ft-sec .ft-link .blk .blk-two ul li::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 5px;
  background: url("/img/img_path.png") no-repeat center/contain;
  content: "";
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-two ul li::before {
    width: 0.488vw;
    height: 0.488vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-two ul li::before {
    width: 0.652vw;
    height: 0.652vw;
  }
}
.ft-sec .ft-link .blk .blk-two ul li a {
  line-height: 1.5;
  padding: 7px 0;
  color: #76c38f;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-two ul li a {
    padding: 0.684vw 0;
    letter-spacing: 0.049vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-two ul li a {
    padding: 0.913vw 0;
    letter-spacing: 0.065vw;
  }
}
.ft-sec .ft-link .blk .blk-three .ft-ttl {
  padding-bottom: 33px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-three .ft-ttl {
    padding-bottom: 3.223vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-three .ft-ttl {
    padding-bottom: 4.302vw;
  }
}
.ft-sec .ft-link .blk .blk-three p {
  line-height: 1.6;
  color: #979797;
  letter-spacing: 0.4px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-three p {
    letter-spacing: 0.039vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-three p {
    letter-spacing: -0.1vw;
  }
}
.ft-sec .ft-link .blk .blk-three p span {
  color: #76c38f;
}
.ft-sec .ft-link .blk .blk-three p + p {
  padding-top: 21px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-three p + p {
    padding-top: 2.051vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-three p + p {
    padding-top: 2.738vw;
  }
}
.ft-sec .ft-link .blk .blk-four form {
  padding-top: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-four form {
    padding-top: 2.93vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-four form {
    padding-top: 3.911vw;
  }
}
.ft-sec .ft-link .blk .blk-four form input,
.ft-sec .ft-link .blk .blk-four form textarea {
  width: 100%;
  margin-bottom: 8px;
  padding: 11px;
  border: none;
  background-color: #222222;
  color: #979797;
  font-size: 13px;
  letter-spacing: 0.3px;
  outline: none;
  border-radius: 10px;
  font-family: "Georgia", serif;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-four form input,
.ft-sec .ft-link .blk .blk-four form textarea {
    margin-bottom: 0.781vw;
    padding: 1.074vw;
    font-size: 1.27vw;
    letter-spacing: 0.029vw;
    border-radius: 0.977vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-four form input,
.ft-sec .ft-link .blk .blk-four form textarea {
    padding: 1.434vw;
    font-size: 1.695vw;
    letter-spacing: 0.039vw;
    border-radius: 1.304vw;
  }
}
.ft-sec .ft-link .blk .blk-four form textarea {
  resize: none;
}
.ft-sec .ft-link .blk .blk-four form button {
  padding: 10px 12px;
  border: none;
  background-color: #76c38f;
  color: #303030;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.1px;
  outline: none;
  border-radius: 10px;
  font-family: "Georgia", serif;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .ft-link .blk .blk-four form button {
    padding: 0.977vw 1.172vw;
    font-size: 1.172vw;
    letter-spacing: 0.107vw;
    border-radius: 0.977vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .ft-link .blk .blk-four form button {
    padding: 1.304vw 1.565vw;
    font-size: 1.8vw;
    letter-spacing: 0.143vw;
    border-radius: 1.304vw;
  }
}
.ft-sec .copy-blk {
  padding: 24px 0;
  background-color: #2b2b2b;
  color: #979797;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .copy-blk {
    padding: 2.344vw 0;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .copy-blk {
    padding: 3.129vw 0;
  }
}
.ft-sec .copy-blk .copy {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.37px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ft-sec .copy-blk .copy {
    letter-spacing: 0.036vw;
  }
}
@media screen and (max-width: 767.9px) {
  .ft-sec .copy-blk .copy {
    letter-spacing: 0.048vw;
  }
}