.sec-contact {
  padding: 100px 0 97px;

  @include mq(ipad) {
    padding: 6.421vw 0 6.13vw;
  }

  @include mq(sp) {
    padding: 0 0 7.83vw;
  }

  .cmn-flex {
    display: flex;
    justify-content: space-between;

    @include mq(sp) {
      display: block;
    }

    .map {
      width: 50%;

      @include mq(sp) {
        width: 100%;
      }

      iframe {
        width: 100%;
        height: 777px;
        border: 0;

        @include mq(ipad) {
          height: 65.625vw;
        }

        @include mq(sp) {
          height: 35.938vw;
        }
      }
    }

    .contact-form {
      width: 50%;
      padding: 67px 32px 69px;
      box-shadow: 2px 0 6px rgba(0, 0, 0, 0.16);

      @include mq(ipad) {
        padding: 5.724vw 2.867vw 5.684vw;
        box-shadow: 0.26vw 0 0.781vw rgba(0, 0, 0, 0.16);
      }

      @include mq(sp) {
        width: 100%;
        padding: 4.469vw 2.7vw 4.681vw;
        box-shadow: 0.313vw 0 0.938vw rgba(0, 0, 0, 0.16);
      }

      .cmn-ttl {
        padding: 0 6px 68px;

        @include mq(ipad) {
          padding: 0 0.381vw 4.654vw;
          font-size: 2.344vw;
        }

        @include mq(sp) {
          padding: 0 0.938vw 2.188vw;
        }
      }

      input,
      textarea {
        width: 100%;
        margin-bottom: 31px;
        padding: 12px;
        border: none;
        color: $color3;
        font-size: 16px;
        outline: none;
        border-bottom: 1px solid $color6;
        @include font-ro-reg();

        @include mq(ipad) {
          margin-bottom: 1.336vw;
          padding: 1.163vw 0;
          font-size: 2.083vw;
          border-bottom: 0.13vw solid $color6;
        }

        @include mq(sp) {
          margin-bottom: 2.031vw;
          padding: 0.781vw 0;
          font-size: 2.188vw;
          border-bottom: 0.156vw solid $color6;
        }

        &::placeholder {
          color: $color7;
        }
      }

      textarea {
        padding: 9px;

        @include mq(ipad) {
          margin-bottom: 0;
          padding: 1.772vw 0;
        }

        @include mq(sp) {
          padding: 0.469vw 0;
        }
      }
    }

    .cmn-btn {
      margin-top: 42px;

      @include mq(ipad) {
        margin-top: 3.469vw;
        font-size: 2.214vw;
      }

      @include mq(sp) {
        margin-top: 0.625vw;
      }
    }
  }
}