@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

* {
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

body {
  margin: 0 auto;
  font-family: '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  max-width: 1920px;
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.l-inner {
  margin: 0 auto;
  max-width: 1080px;
}

.header {
  position: relative;
  z-index: 4;
  padding: 53px 0 250px;
  background: url("/img/header_bg.png")no-repeat center/cover;
}

.header-row {
  display: flex;
}

.header-alert {
  padding-left: 112px;
}

.header-alert img {
  max-width: 259px;
}

.header-txt {
  margin-left: -8px;
  padding-top: 4px;
}

.header-txt img {
  max-width: 459px;
}

.header-cream {
  margin-top: 60px;
  margin-left: -14px;
}

.header-cream img {
  max-width: 351px;
}

.header-ichigo {
  position: absolute;
  top: 0;
  left: 4.6%;
}

.header-video {
  position: relative;
  z-index: 1;
  margin-top: 12.7%;
  margin-left: 20.3%;
  max-width: 664px;
}

.header-video img {
  max-width: 664px;
}

.header-video::before {
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: -1;
  width: 216px;
  height: 266px;
  background: url("/img/header_before.png")no-repeat center/contain;
  content: "";
}

.header-video::after {
  position: absolute;
  bottom: -19px;
  left: -40px;
  z-index: -1;
  width: 462px;
  height: 128px;
  background: url("/img/header_after.png")no-repeat center/contain;
  content: "";
}

.content {
  position: relative;
  z-index: 2;
  margin-top: -17.5%;
  padding: 141px 0 73px;
  background: url("/img/content_bg.png")no-repeat center/cover;
}

.content-txt-bg {
  max-width: 814px;
  padding: 47px 20px 100px 20px;
  background: url("/img/content_txt_bg.png")no-repeat center/cover;
}

.ichigo {
  display: flex;
}

.content-ichigo {
  margin-left: 76px;
  max-width: 143px;
}

.content-ttl {
  display: inline-block;
  margin-left: 88px;
  padding-top: 14px;
  max-width: 133px;
}

.content-txt {
  display: flex;
  flex-direction: row-reverse;
  width: 854px;
  margin: 0 66px;
}

.concept {
  position: relative;
}

.concept img {
  max-width: 62px;
}

.content_bubble01 {
  position: absolute;
  top: 0.2%;
  left: 69%;
  z-index: 1;
  width: 210px;
  height: 212px;
}

.content_bubble01 img {
  max-width: 210px;
}

.content-p {
  line-height: 2.4;
  padding-top: 40px;
  color: #fff;
  font-family: 'Kosugi Maru';
  font-size: 28px;
  text-align: center;
  letter-spacing: 1.6px;
}

.content-logo {
  position: relative;
  margin-top: -10%;
  margin-left: 66%;
}

.content-logo img {
  max-width: 312px;
}

.content-logo::after {
  position: absolute;
  right: -28.7%;
  bottom: 26.5%;
  z-index: -1;
  width: 341px;
  height: 91px;
  background: url('/img/content_dot.png')no-repeat center/contain;
  content: '';
}

.three-points {
  position: relative;
  z-index: 5;
  margin-top: -11.3%;
  padding-bottom: 145px;
  background: url('/img/point_bg.png')no-repeat center/cover;
}

.points-alert {
  position: relative;
  margin-left: 10%;
}

.points-alert img {
  max-width: 214px;
}

.point-bubble {
  position: absolute;
  top: 13px;
  left: -1.7%;
  width: 56px;
  height: 61px;
}

.point-bubble img {
  max-width: 56px;
}

.point-sec {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
}

.point-sec::after {
  position: absolute;
  right: -3.1%;
  bottom: -6%;
  z-index: -1;
  width: 341px;
  height: 164px;
  background: url('/img/point3_dot.png')no-repeat center/contain;
  content: '';
}

.features {
  margin-top: 12px;
  margin-left: 3.5%;
  max-width: 57px;
}

.point01 {
  position: relative;
  margin-left: 65px;
  max-width: 1068px;
}

.point01-txt {
  /*position: relative;*/
  max-width: 850px;
}

.point01-bg,
.point02-bg {
  background: url('/img/three_point_bg.png')no-repeat center/cover;
  max-width: 850px;
}

.point01-bg {
  padding: 59px 80px 33px 70px;
}

.point01-before {
  position: absolute;
  bottom: -30px;
  left: -30px;
  z-index: -1;
  width: 639px;
  height: 308px;
  /*background: url('/img/point01_before.png')no-repeat center/contain;*/
  /*content: '';*/
}

.point01-after {
  position: absolute;
  top: 15px;
  right: -31px;
  z-index: -1;
  width: 731px;
  height: 352px;
  /*background: url('/img/point01_after.png')no-repeat center/contain;
  content: '';*/
}

.point01-ttl,
.point03-ttl {
  text-align: right;
}

.point01-ttl img {
  max-width: 209px;
  margin-left: auto;
}

.rose-petals,
.scrub,
.red-strawberry,
.white-strawberry,
.strawberry-scent,
.oil-strawberry {
  line-height: 1.25;
  color: #be1b33;
  font-family: '游ゴシック';
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

.rose-petals-txt,
.scrub-txt,
.red-strawberry-txt,
.white-strawberry-txt,
.strawberry-scent-txt,
.oil-strawberry-txt {
  line-height: 1.4;
  padding-top: 5px;
  color: #3e3838;
  font-family: '游ゴシック';
  font-size: 24px;
  letter-spacing: -2.8px;
}

.oil-strawberry-txt {
  width: 273px;
}

.sup {
  font-size: 16px;
  vertical-align: text-top;
}

.span {
  font-size: 20px;
}

.rose {
  position: relative;
  padding-top: 54px;
}

.rose::after {
  position: absolute;
  top: 36%;
  right: -7%;
  width: 85px;
  height: 83px;
  background: url('/img/rose.png')no-repeat center/contain;
  content: '';
}

.skin {
  margin: -7px 0 0 -36px;
  max-width: 464px;
}

.point01-row01,
.point01-row02,
.point02-row01,
.point03-row01 {
  display: flex;
}

.point02-row02 {
  display: flex;
  align-items: flex-start;
  margin-top: -74px;
}

.point01-ttl-2 img {
  max-width: 442px;
}

.sugar {
  position: relative;
  margin-top: -5.6%;
  margin-left: 9px;
}

.sugar::after {
  position: absolute;
  top: 10%;
  right: -17%;
  width: 100px;
  height: 89px;
  background: url('/img/sugar.png')no-repeat center/contain;
  content: '';
}

.point02 {
  position: relative;
  margin-left: 70px;
  padding-top: 51px;
}

.point02-ttl {
  padding-left: 8px;
}

.point02-ttl img {
  max-width: 250px;
}

.point02-ttl-2 img {
  max-width: 349px;
}

.point02-bg {
  padding: 69px 38px 36px;
}

.point02-before {
  position: absolute;
  top: 68px;
  left: -30px;
  z-index: -1;
  width: 362px;
  height: 337px;
  /*background: url('/img/point02_before.png')no-repeat center/contain;
  content: '';*/
}

.point02-after {
  position: absolute;
  right: -40px;
  bottom: -20px;
  z-index: -1;
  width: 560px;
  height: 314px;
  /*background: url('/img/point02_after.png')no-repeat center/contain;
  content: '';*/
}

.red {
  padding-top: 3.2%;
  margin-left: 13%;
}

.white {
  margin-top: 1%;
  margin-left: 31px;
  padding-top: 73px;
}

.white img {
  max-width: 400px;
}

.red-white {
  margin-left: -22%;
}

.moisture {
  font-size: 17px;
  letter-spacing: 0.3px;
}

.point03 {
  position: relative;
  margin-left: 14.8%;
  padding-top: 50px;
}

.point03-bg {
  padding: 69px 137px 33px 79px;
  background: url('/img/point03_bg.png')no-repeat center/cover;
}

.point03-before {
  position: absolute;
  bottom: -39px;
  left: -30px;
  z-index: -1;
  width: 321px;
  height: 160px;
  /*background: url('/img/point03_before.png')no-repeat center/contain;
  content: '';*/
}

.point03-after {
  position: absolute;
  top: 80px;
  right: -29px;
  z-index: -1;
  width: 589px;
  height: 442px;
  /*background: url('/img/point03_after.png')no-repeat center/contain;
  content: '';*/
}

.oil-strawberry {
  position: relative;
}

.scent {
  width: 227px;
}

.point03-row01 {
  justify-content: space-between;
  width: 650px;
}

.oil-strawberry::after {
  position: absolute;
  top: -24px;
  right: 38px;
  width: 48px;
  height: 62px;
  background: url('/img/water.png')no-repeat center/contain;
  content: '';
}

.point03-ttl-2 {
  width: 257px;
  margin-top: -2.6%;
}

.point03-row02 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 650px;
  margin-top: -5.8%;
}

.point03-row02 span {
  display: block;
}

.oil {
  width: 256px;
  margin-left: 1.9%;
  padding-top: 53px;
}

.sta {
  margin-left: 19.7%;
  max-width: 309px;
}

.style-sec {
  margin-top: -190px;
  padding-top: 187px;
  padding-bottom: 547px;
  background: url('/img/style_bg.png')no-repeat center/cover;
}

.style-alert {
  position: relative;
  margin-top: 1.7%;
  margin-left: 68.2%;
}

.style-alert img {
  max-width: 214px;
}

.style-alert span img {
  position: absolute;
  top: -12px;
  right: 50px;
  width: 406px;
  height: 352px;
  /*background: url('/img/style_alert_water.png')no-repeat center/contain;
  content: '';*/
}

.style-alert span img {
  max-width: 406px;
}

.style-header-sec,
.voice-header-sec,
.style-row01,
.style-row02,
.voice-row02,
.voice-row03,
.voice-row04 {
  display: flex;
}

.style-duo {
  position: relative;
  margin-top: -13%;
  margin-left: 11.9%;
}

.duo {
  max-width: 554px;
}

.lucky {
  position: absolute;
  bottom: -28px;
  left: -92px;
  max-width: 304px;
}

.style-ttl {
  margin-top: 19.3%;
  margin-left: 3.5%;
}

.style-ttl img {
  max-width: 66px;
}

.style-product-bg {
  position: relative;
  z-index: 1;
  margin-top: 5%;
  margin-left: 6.1%;
  padding: 40px 150px 66px;
  background: url('/img/style_product_bg.png')no-repeat center/cover;
  max-width: 964px;
}

.row01-txt,
.row02-txt {
  position: relative;
  line-height: 2;
  color: #fff;
  font-family: 'Kosugi Maru';
  font-size: 20px;
  letter-spacing: 0.9px;
}

.row01-txt {
  padding-top: 10px;
  padding-left: 28px;
}

.row01-txt::after {
  position: absolute;
  top: 46px;
  left: -37px;
  width: 493px;
  height: 43px;
  background: url('/img/landmark_after.png')no-repeat center/contain;
  content: '';
}

.style-row01-txt {
  margin-top: 5%;
}

.landmark,
.texture {
  position: relative;
  padding-bottom: 23px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 4.7px;
}

.landmark::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: '';
}

.texture::after {
  position: absolute;
  bottom: 0;
  left: -33px;
  width: 427px;
  height: 3px;
  background-color: #fff;
  content: '';
}

.duo-ichigo {
  margin-left: -0.5%;
  max-width: 223px;
}

.clip {
  margin-top: 1%;
  max-width: 224px;
}

.style-row02-txt {
  margin-top: 6%;
  margin-left: 4.6%;
}

.row02-txt {
  padding-top: 10px;
  text-align: center;
  letter-spacing: 0.3px;
}

.row02-txt::after {
  position: absolute;
  top: 46px;
  left: 31px;
  width: 394px;
  height: 83px;
  background: url('/img/texture_after.png')no-repeat center/contain;
  content: '';
}

.voice-sec {
  margin-top: -650px;
  /*margin-top: -107px;*/
  background: url('/img/voice_bg.png')no-repeat center/cover;
}

.voice {
  position: relative;
}

.voice-bubble {
  position: absolute;
  bottom: -1.2%;
  left: -90%;
  width: 64px;
  height: 65px;
}

.voice-bubble img {
  max-width: 64px;
}

.voice-txt {
  margin-left: 1.5%;
  padding: 0 70px 50px 49px;
  background: url('/img/voice_txt_bg.png')no-repeat center/cover;
  max-width: 814px;
}

.voice-row01 {
  position: relative;
  margin-top: -8.8%;
  margin-left: 35.8%;
}

.voice-row01 img {
  max-width: 214px;
}

.user-water {
  position: absolute;
  top: 16px;
  left: -15.1%;
  width: 294px;
  height: 176px;
}

.user-water img {
  max-width: 294px;
}

.voice-header-sec {
  position: relative;
  align-items: flex-start;
  margin-left: 13.8%;
  padding-top: 226px;
  padding-bottom: 690px;
}

.voice img {
  max-width: 55px;
}

.user01-ttl,
.user02-ttl,
.user03-ttl {
  color: #be1b33;
  font-size: 20px;
  font-weight: 600;
}

.name {
  font-family: YuGothic;
  font-size: 21px;
  font-weight: 700;
}

.user01-txt,
.user02-txt,
.user03-txt {
  line-height: 1.6;
  font-size: 20px;
  letter-spacing: -2.3px;
}

.user01-txt {
  padding-left: 18px;
}

.user02-txt {
  padding-top: 7px;
  padding-left: 4px;
}

.voice-row02 {
  align-items: flex-start;
  margin-top: -1%;
  margin-left: 0.3%;
}

.voice-row02 img,
.voice-row03 img,
.voice-row04 img {
  max-width: 164px;
}

.user01,
.user02,
.user03 {
  padding-top: 19px;
}

.voice-row02 .user-dot,
.voice-row03 .user-dot,
.voice-row04 .user-dot {
  padding-bottom: 18px;
  max-width: 532px;
}

.user01-ttl {
  padding-left: 16px;
}

.user02-ttl {
  padding-left: 6px;
}

.voice-row03 {
  align-items: flex-start;
  margin-left: -0.2%;
}

.voice-row04 {
  align-items: flex-start;
  margin-top: 1.7%;
  margin-left: 0.3%;
}

.user03-ttl {
  line-height: 1.3;
  padding-left: 19px;
}

.user03-txt {
  padding-top: 4px;
  padding-left: 20px;
}

.product-sec {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin-top: -50.2%;
  margin-right: 14.6%;
}

.product-header-ttl img {
  max-width: 64px;
}

.product-bg {
  position: relative;
  padding: 0 30px 39px;
  background: url('/img/product_detail_bg.png')no-repeat center/cover;
  max-width: 790px;
}

.product-bubble {
  position: absolute;
  top: -7.9%;
  left: 34.7%;
  width: 255px;
  height: 188px;
}

.product-bubble img {
  max-width: 255px;
}

.face-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 288px;
}

.face-product p img {
  max-width: 132px;
}

.face-product p:first-child {
  width: 100%;
  padding-left: 89px;
}

.product-row01 {
  display: flex;
}

.product-ichigo {
  position: absolute;
  margin-top: -5.6%;
  margin-left: 2.3%;
  max-width: 191px;
}

.product {
  padding-left: 3.9%;
}

.pkg {
  margin-top: -12.7%;
}

.shop-detail-alert {
  margin-top: -8.3%;
  margin-left: 36.9%;
}

.shop-detail-alert {
  max-width: 214px;
}

.like {
  padding-top: 15px;
  text-align: center;
}

.product-alert {
  margin-left: 50.7%;
  max-width: 199px;
}

.duo-pkg {
  margin-top: -13.3%;
  margin-left: 3%;
  max-width: 336px;
}

.list-blk {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.product-ttl {
  line-height: 2.5;
  padding-left: 18px;
  color: #be1b33;
  font-family: 'Kosugi Maru';
  font-size: 24px;
  letter-spacing: 1px;
}

.product-txt01 {
  line-height: 1.4;
  margin-top: -10px;
  padding-left: 20px;
  font-family: 'Kosugi Maru';
  font-size: 20px;
  letter-spacing: 0.4px;
}

.product-btn {
  padding-top: 17px;
  padding-bottom: 14px;
  text-align: center;
}

.product-btn img {
  max-width: 667px;
}

.product-txt02,
.product-txt03 {
  line-height: 1.4;
  padding-left: 21px;
  font-family: 'Kosugi Maru';
  font-size: 16px;
  letter-spacing: 0.9px;
}

.howto-sec {
  padding-top: 5.8%;
}

.howto {
  margin-left: 3.2%;
}

.howto img {
  max-width: 312px;
}

.howto-bg {
  position: relative;
  margin-left: 1.8%;
  padding: 0 25px 57px 47px;
  background: url('/img/howto_bg.png')no-repeat center/cover;
  max-width: 1021px;
}

.input-bubble {
  position: absolute;
  top: -5.5%;
  left: -12.3%;
  width: 302px;
  height: 172px;
}

.input-bubble img {
  max-width: 302px;
}

.input-point {
  display: inline-block;
  position: relative;
  margin-top: -6.9%;
  margin-left: 39.6%;
}

.input-point {
  max-width: 214px;
}

.step {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 43px;
}

.step li {
  position: relative;
  width: 226px;
  text-align: center;
}

.step li h4 img {
  max-width: 162px;
}

.step li:nth-child(3) .face {
  padding-top: 10px;
}

.step li:nth-child(4) .face {
  margin-top: -17px;
  margin-bottom: 4px;
}

.step li::after {
  position: absolute;
  top: -0.9%;
  right: -8.2%;
  width: 24px;
  height: 35px;
  background: url('/img/arrow_pc.png')no-repeat center/contain;
  content: '';
}

.step li:last-child::after {
  background: none;
}

.step-txt {
  line-height: 1.7;
  padding: 16px 12px 0;
  font-size: 20px;
  text-align: left;
  letter-spacing: -0.5px;
}

.face {
  margin-bottom: -13px;
  padding-top: 12px;
  max-width: 226px;
}

.point {
  max-width: 168px;
}

.ft {
  margin-top: -8.7%;
  padding-top: 15.9%;
  padding-bottom: 5.3%;
  background: url('/img/ft_02.png')no-repeat center/cover;
}

.shop-sec {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin-right: 4.3%;
}

.shop {
  max-width: 69px;
}

.ft-bg {
  position: relative;
  padding: 0 15.5% 2.5%;
  background: url('/img/ft_txt_bg.png')no-repeat center/cover;
  max-width: 850px;
}

.ft-sale {
  position: relative;
  margin-top: -11.2%;
  margin-left: 32.2%;
}

.ft-sale img {
  max-width: 214px;
}

.ft-bubble {
  position: absolute;
  top: -9.6%;
  left: -2.5%;
  width: 261px;
  height: 221px;
}

.ft-bubble img {
  max-width: 261px;
}

.ft-bg-ttl {
  line-height: 1.4;
  padding-top: 5.1%;
  padding-bottom: 1.7%;
  padding-left: 34%;
  color: #fff;
  font-family: 'Kosugi Maru';
  font-size: 59px;
  letter-spacing: -4.1px;
}

.ft-bg-ttl span {
  font-size: 24px;
}

.ft-bg-txt {
  line-height: 1.9;
  color: #fff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
}

.ft-txt01 {
  line-height: 1.4;
  padding-top: 19px;
  padding-left: 14.1%;
  font-family: 'Kosugi Maru';
  font-size: 16px;
  letter-spacing: 0.6px;
}

.ft-txt01 span {
  display: inline-block;
  text-indent: -17px;
}

.ft-txt02 {
  line-height: 1.5;
  padding-top: 45px;
  padding-bottom: 28px;
  font-family: '游ゴシック';
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.5px;
}

.ft-btn01,
.ft-btn02 {
  position: relative;
  text-align: center;
}

.ft-btn01 img,
.ft-btn02 img {
  max-width: 757px;
}

.ft-btn01::after {
  position: absolute;
  top: -35%;
  right: 27.4%;
  width: 142px;
  height: 107px;
  background: url('/img/duo_gray.png')no-repeat center/contain;
  content: '';
}

.product-detail {
  padding-top: 33px;
  padding-bottom: 12px;
}

.product-detail img {
  max-width: 300px;
  margin: 0 auto;
}

/*PC*/
@media screen and (min-width:768px) and (max-width:1024px) {

  body {
    max-width: 150vw;
  }

  .l-inner {
    max-width: 84.375vw;
  }

  .header {
    padding: 4.141vw 0 19.531vw;
  }

  .header-alert {
    padding-left: 8.75vw;
  }

  .header-alert img {
    max-width: 20.234vw;
  }

  .header-txt {
    margin-left: -0.625vw;
    padding-top: 0.313vw;
  }

  .header-txt img {
    max-width: 35.859vw;
  }

  .header-cream {
    margin-top: 4.688vw;
    margin-left: -1.094vw;
  }

  .header-cream img {
    max-width: 27.422vw;
  }

  .header-ichigo img {
    max-width: 91.453vw;
    /*max-width : 129.453vw;*/
  }

  .header-video {
    max-width: 51.875vw;
  }

  .header-video img {
    max-width: 51.875vw;
  }

  .header-video::before {
    top: -3.125vw;
    right: -3.125vw;
    width: 16.875vw;
    height: 20.781vw;
  }

  .header-video::after {
    bottom: -1.484vw;
    left: -3.125vw;
    width: 36.094vw;
    height: 10vw;
  }

  .content {
    margin-top: -17.5%;
    padding: 11.016vw 0 5.703vw;
  }

  .content-txt-bg {
    width: 63.594vw;
    padding: 3.672vw 1.563vw 7.813vw 1.563vw;
  }

  .content-ichigo {
    margin-left: 5.938vw;
    max-width: 11.172vw;
  }

  .content-ttl {
    margin-left: 6.875vw;
    padding-top: 1.094vw;
    max-width: 10.391vw;
  }

  .content-ttl {
    max-width: 10.391vw;
  }

  .content-txt {
    width: 66.719vw;
    margin: 0 5.156vw;
  }

  .concept img {
    max-width: 4.844vw;
  }

  .content_bubble01 {
    width: 16.406vw;
    height: 16.563vw;
  }

  .content_bubble01 img {
    max-width: 16.406vw;
  }

  .content-p {
    padding-top: 3.125vw;
    font-size: 2.188vw;
    letter-spacing: 0.125vw;
  }

  .content-logo {
    max-width: 24.375vw;
  }

  .content-logo img {
    max-width: 24.375vw;
  }

  .content-logo::after {
    width: 26.641vw;
    height: 7.109vw;
  }

  .three-points {
    margin-top: -11.3%;
    padding-bottom: 11.328vw;
  }

  .points-alert img {
    max-width: 16.719vw;
  }

  .point-bubble {
    top: 1.016vw;
    width: 4.375vw;
    height: 4.766vw;
  }

  .point-bubble img {
    max-width: 4.375vw;
  }

  .point-sec::after {
    width: 26.641vw;
    height: 12.813vw;
  }

  .features {
    margin-top: 0.938vw;
    max-width: 4.453vw;
  }

  .point01 {
    margin-left: 5.078vw;
    max-width: 83.438vw;
  }

  .point01-txt {
    max-width: 66.406vw;
  }

  .point01-bg,
  .point02-bg {
    max-width: 66.406vw;
  }

  .point01-bg {
    padding: 4.609vw 6.25vw 2.578vw 5.469vw;
  }

  .point01-txt::before {
    bottom: -2.344vw;
    left: -2.344vw;
    width: 49.922vw;
    height: 24.063vw;
  }

  .point01-txt::after {
    top: 1.172vw;
    right: -2.422vw;
    width: 57.109vw;
    height: 27.5vw;
  }

  .point01-ttl img {
    max-width: 16.328vw;
  }

  .rose-petals,
  .scrub,
  .red-strawberry,
  .white-strawberry,
  .strawberry-scent,
  .oil-strawberry {
    font-size: 2.188vw;
    letter-spacing: 0.078vw;
  }

  .rose-petals-txt,
  .scrub-txt,
  .red-strawberry-txt,
  .white-strawberry-txt,
  .strawberry-scent-txt,
  .oil-strawberry-txt {
    padding-top: 0.391vw;
    font-size: 1.875vw;
    letter-spacing: -0.219vw;
  }

  .oil-strawberry-txt {
    width: 21.328vw;
  }

  .sup {
    font-size: 1.25vw;
  }

  .span {
    font-size: 1.563vw;
  }

  .rose {
    padding-top: 4.219vw;
  }

  .rose::after {
    width: 6.641vw;
    height: 6.484vw;
  }

  .skin {
    margin: -0.547vw 0 0 -2.813vw;
    max-width: 36.25vw;
  }

  .point02-row02 {
    margin-top: -5.781vw;
  }

  .point01-ttl-2 img {
    max-width: 34.531vw;
  }

  .sugar {
    margin-top: -5.6%;
    margin-left: 0.703vw;
  }

  .sugar::after {
    width: 7.813vw;
    height: 6.953vw;
  }

  .point02 {
    margin-left: 5.469vw;
    padding-top: 3.984vw;
  }

  .point02-ttl {
    padding-left: 0.625vw;
  }

  .point02-ttl img {
    max-width: 19.531vw;
  }

  .point02-ttl-2 img {
    max-width: 27.266vw;
  }

  .point02-bg {
    padding: 5.391vw 2.969vw 2.813vw;
  }

  .point02::before {
    top: 5.313vw;
    left: -2.344vw;
    width: 28.281vw;
    height: 26.328vw;
  }

  .point02::after {
    right: -3.125vw;
    bottom: -1.563vw;
    width: 43.75vw;
    height: 24.531vw;
  }

  .white {
    margin-left: 2.422vw;
    padding-top: 5.703vw;
  }

  .white img {
    max-width: 31.25vw;
  }

  .moisture {
    font-size: 1.328vw;
    letter-spacing: 0.023vw;
  }

  .point03 {
    padding-top: 3.906vw;
  }

  .point03-bg {
    padding: 5.391vw 10.703vw 2.578vw 6.172vw;
  }

  .point03::before {
    bottom: -3.047vw;
    left: -2.344vw;
    width: 25.078vw;
    height: 12.5vw;
  }

  .point03::after {
    top: 6.25vw;
    right: -2.266vw;
    width: 46.016vw;
    height: 34.531vw;
  }

  .scent {
    width: 17.734vw;
  }

  .point03-row01 {
    width: 50.781vw;
  }

  .oil-strawberry::after {
    top: -1.875vw;
    right: 2.969vw;
    width: 3.75vw;
    height: 4.844vw;
  }

  .point03-ttl-2 {
    width: 20.078vw;
  }

  .point03-row02 {
    width: 50.781vw;
  }

  .oil {
    width: 20vw;
    padding-top: 4.141vw;
  }

  .sta {
    max-width: 24.141vw;
  }

  .style-sec {
    margin-top: -14.844vw;
    padding-top: 14.609vw;
    padding-bottom: 42.734vw;
  }

  .style-alert img {
    max-width: 16.719vw;
  }

  .style-alert::after {
    top: -0.938vw;
    right: 3.906vw;
    width: 31.719vw;
    height: 27.5vw;
  }

  .duo {
    max-width: 43.281vw;
  }

  .lucky {
    bottom: -2.188vw;
    left: -7.188vw;
    max-width: 23.75vw;
  }

  .style-ttl img {
    max-width: 5.156vw;
  }

  .style-product-bg {
    padding: 3.125vw 11.719vw 5.156vw;
  }

  .row01-txt,
  .row02-txt {
    font-size: 1.563vw;
    letter-spacing: 0.07vw;
  }

  .row01-txt {
    padding-top: 0.781vw;
    padding-left: 2.188vw;
  }

  .row01-txt::after {
    top: 3.594vw;
    left: -2.891vw;
    width: 38.516vw;
    height: 3.359vw;
  }

  .landmark,
  .texture {
    padding-bottom: 1.797vw;
    font-size: 2.188vw;
    letter-spacing: 0.367vw;
  }

  .landmark::after {
    width: 100%;
    height: 0.234vw;
  }

  .texture::after {
    left: -2.578vw;
    width: 33.359vw;
    height: 0.234vw;
  }

  .duo-ichigo {
    max-width: 17.422vw;
  }

  .clip {
    max-width: 17.5vw;
  }

  .row02-txt {
    padding-top: 0.781vw;
    letter-spacing: 0.023vw;
  }

  .row02-txt::after {
    top: 3.594vw;
    left: 2.422vw;
    width: 30.781vw;
    height: 6.484vw;
  }

  .voice-sec {
    margin-top: -50.781vw;
  }

  .voice-bubble {
    width: 5vw;
    height: 5.078vw;
  }

  .voice-bubble img {
    max-width: 5vw;
  }

  .voice-txt {
    padding: 0 5.469vw 3.906vw 3.828vw;
    max-width: 63.594vw;
  }

  .voice-row01 img {
    max-width: 16.719vw;
  }

  .user-water {
    top: 1.25vw;
    width: 22.969vw;
    height: 13.75vw;
  }

  .user-water img {
    max-width: 22.969vw;
  }

  .voice-header-sec {
    padding-top: 17.656vw;
    padding-bottom: 53.906vw;
  }

  .voice img {
    max-width: 4.297vw;
  }

  .user01-ttl,
  .user02-ttl,
  .user03-ttl {
    font-size: 1.563vw;
  }

  .name {
    font-size: 1.641vw;
  }

  .user01-txt,
  .user02-txt,
  .user03-txt {
    font-size: 1.563vw;
    letter-spacing: -0.18vw;
  }

  .user01-txt {
    padding-left: 1.406vw;
  }

  .user02-txt {
    padding-top: 0.547vw;
    padding-left: 0.313vw;
  }

  .voice-row02 img,
  .voice-row03 img,
  .voice-row04 img {
    max-width: 12.813vw;
  }

  .user01,
  .user02,
  .user03 {
    margin-top: 1.484vw;
  }

  .voice-row02 .user-dot,
  .voice-row03 .user-dot,
  .voice-row04 .user-dot {
    padding-bottom: 1.406vw;
    max-width: 41.563vw;
  }

  .user01-ttl {
    padding-left: 1.25vw;
  }

  .user02-ttl {
    padding-left: 0.469vw;
  }

  .user03-ttl {
    line-height: 1.3;
    padding-left: 1.484vw;
  }

  .user03-txt {
    padding-top: 0.313vw;
    padding-left: 1.563vw;
  }

  .product-header-ttl img {
    max-width: 5vw;
  }

  .product-bg {
    padding: 0 2.344vw 3.047vw;
    max-width: 61.719vw;
  }

  .product-bubble {
    width: 19.922vw;
    height: 14.688vw;
  }

  .product-bubble img {
    max-width: 19.922vw;
  }

  .face-product {
    width: 22.5vw;
  }

  .face-product p img {
    max-width: 10.313vw;
  }

  .face-product p:first-child {
    padding-left: 6.953vw;
  }

  .product-ichigo {
    max-width: 14.922vw;
  }

  .shop-detail-alert {
    max-width: 16.719vw;
  }

  .like {
    padding-top: 1.172vw;
  }

  .product-alert {
    max-width: 15.547vw;
  }

  .duo-pkg {
    max-width: 26.25vw;
  }

  .list-blk {
    padding-top: 1.25vw;
  }

  .product-ttl {
    padding-left: 1.406vw;
    font-size: 1.875vw;
    letter-spacing: 0.078vw;
  }

  .product-txt01 {
    margin-top: -0.781vw;
    padding-left: 1.563vw;
    font-size: 1.563vw;
    letter-spacing: 0.031vw;
  }

  .product-btn {
    padding-top: 1.328vw;
    padding-bottom: 1.094vw;
  }

  .product-btn img {
    max-width: 52.109vw;
  }

  .product-txt02,
  .product-txt03 {
    padding-left: 1.641vw;
    font-size: 1.25vw;
    letter-spacing: 0.07vw;
  }

  .howto img {
    max-width: 24.375vw;
  }

  .howto-bg {
    padding: 0 1.953vw 4.453vw 3.672vw;
    max-width: 79.766vw;
  }

  .input-bubble {
    width: 23.594vw;
    height: 13.438vw;
  }

  .input-bubble img {
    max-width: 23.594vw;
  }

  .input-point {
    max-width: 16.719vw;
  }

  .step {
    padding-top: 3.359vw;
  }

  .step li {
    width: 17.656vw;
  }

  .step li h4 img {
    max-width: 12.656vw;
  }

  .step li:nth-child(3) .face {
    padding-top: 0.781vw;
  }

  .step li:nth-child(4) .face {
    margin-top: -1.328vw;
    margin-bottom: 0.313vw;
  }

  .step li::after {
    width: 1.875vw;
    height: 2.734vw;
  }

  .step-txt {
    padding: 1.25vw 0.938vw 0;
    font-size: 1.563vw;
    letter-spacing: -0.039vw;
  }

  .face {
    margin-bottom: -1.016vw;
    padding-top: 0.938vw;
    max-width: 17.656vw;
  }

  .point {
    max-width: 13.125vw;
  }

  .shop {
    max-width: 5.391vw;
  }

  .ft-bg {
    max-width: 66.406vw;
  }

  .ft-sale img {
    max-width: 16.719vw;
  }

  .ft-bubble {
    width: 20.391vw;
    height: 17.266vw;
  }

  .ft-bubble img {
    max-width: 20.391vw;
  }

  .ft-bg-ttl {
    font-size: 4.609vw;
    letter-spacing: -0.32vw;
  }

  .ft-bg-ttl span {
    font-size: 1.875vw;
  }

  .ft-bg-txt {
    font-size: 1.875vw;
    letter-spacing: 0.078vw;
  }

  .ft-txt01 {
    padding-top: 1.484vw;
    font-size: 1.25vw;
    letter-spacing: 0.047vw;
  }

  .ft-txt01 span {
    text-indent: -1.328vw;
  }

  .ft-txt02 {
    padding-top: 3.516vw;
    padding-bottom: 2.188vw;
    font-size: 1.563vw;
    letter-spacing: 0.117vw;
  }

  .ft-btn01 img,
  .ft-btn02 img {
    max-width: 59.141vw;
  }

  .ft-btn01::after {
    width: 11.094vw;
    height: 8.359vw;
  }

  .product-detail {
    padding-top: 2.578vw;
    padding-bottom: 0.938vw;
  }

  .product-detail img {
    max-width: 23.438vw;
  }
}

/*mobile*/
@media screen and (max-width:767.9px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  body {
    max-width: 100vw;
  }

  .l-inner {
    margin: 0 2.667vw;
    max-width: 100%;
  }

  .header {
    padding: 7.067vw 0 31.6vw;
    background: url("/img/header_bg_sp.png")no-repeat top/100%;
  }

  .header-alert {
    padding-left: 0;
    padding-top: 25.867vw;
  }

  .header-alert img {
    max-width: 34.633vw;
  }

  .header-txt {
    margin-left: 0.667vw;
    padding-top: 0.533vw;
  }

  .header-txt img {
    max-width: 74.533vw;
  }

  .header-cream {
    margin-top: 16vw;
    margin-left: -38.6vw;
  }

  .header-cream img {
    max-width: 57.867vw;
  }

  .header-ichigo {
    left: -0.2%;
  }

  .header-video {
    margin-top: 43.6%;
    margin-left: 4.6%;
    max-width: 88.533vw;
  }

  .header-video img {
    max-width: 88.533vw;
  }

  .header-video::before {
    top: -5.333vw;
    right: -3.467vw;
    width: 28.8vw;
    height: 35.467vw;
  }

  .header-video::after {
    bottom: -2.533vw;
    left: -3.333vw;
    width: 61.6vw;
    height: 17.067vw;
  }

  .content {
    margin-top: -45.333vw;
    padding: 22.4vw 0 13.333vw;
    background: url("/img/content_bg_sp.png")no-repeat center/100% 100%;
  }

  .content-txt-bg {
    max-width: 89.333vw;
    padding: 6.267vw 2.667vw 5vw 2.667vw;
    background: url("/img/content_txt_bg_sp.png")no-repeat center/cover;
  }

  .content-ichigo {
    margin-left: 8vw;
    max-width: 19.067vw;
  }

  .content-ttl {
    margin-left: 5.067vw;
    padding-top: 4.667vw;
    max-width: 17.733vw;
  }

  .content-txt {
    display: block;
    flex-direction: inherit;
    width: 89.333vw;
    margin: 0 auto;
  }

  .concept {
    position: relative;
  }

  .concept img {
    max-width: 46.133vw;
    margin-left: auto;
  }

  .content_bubble01 {
    top: -59.3%;
    left: 49.5%;
    width: 28vw;
    height: 28.267vw;
  }

  .content_bubble01 img {
    max-width: 28.7vw;
  }

  .content-p {
    line-height: 2.5;
    padding-top: 4.4vw;
    font-size: 3.733vw;
    letter-spacing: 0.213vw;
  }

  .content-logo {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    right: 0.533vw;
    bottom: -8.133vw;
  }

  .content-logo img {
    max-width: 41.533vw;
  }

  .content-logo::after {
    right: -1.3%;
    bottom: 20.5%;
    width: 34.267vw;
    height: 12.133vw;
    background: url('/img/content_dot_sp.png')no-repeat center/contain;
  }

  .three-points {
    margin-top: -20.1%;
    padding-top: 20.067vw;
    padding-bottom: 10.5vw;
    background: url('/img/point_bg_sp.png')no-repeat center/cover;
  }

  .points-alert {
    margin-left: 36.3%;
  }

  .points-alert img {
    max-width: 28.533vw;
  }

  .point-bubble {
    top: -1.333vw;
    left: 1.4%;
    width: 7.467vw;
    height: 8.133vw;
  }

  .point-bubble img {
    max-width: 7.467vw;
  }

  .point-sec::after {
    right: -2.7%;
    bottom: -4.6%;
    width: 34.267vw;
    height: 21.867vw;
    background: url('/img/point3_dot_sp.png')no-repeat center/contain;
  }

  .features {
    margin-top: -23.067vw;
    margin-left: 2.5%;
    max-width: 7.6vw;
  }

  .point01 {
    margin-left: 7.2vw;
    max-width: 74.8vw;
    margin-top: 3.8%;
  }

  .point01-txt {
    max-width: 87.2vw;
  }

  .point01-bg,
  .point02-bg {
    background: url('/img/three_point_bg_sp.png')no-repeat center/cover;
    max-width: 87.2vw;
  }

  .point01-bg {
    padding: 7.467vw 7.333vw 2.8vw 8.133vw;
  }

  .point01-txt::before {
    bottom: -2.667vw;
    left: -4vw;
    width: 40.933vw;
    height: 85.333vw;
    background: url('/img/point01_before_sp.png')no-repeat center/contain;
  }

  .point01-txt::after {
    top: 2.733vw;
    right: -2.8vw;
    width: 61.467vw;
    height: 45.467vw;
    background: url('/img/point01_after_sp.png')no-repeat center/contain;
  }

  .point01-ttl img {
    max-width: 26.667vw;
    margin-left: auto;
    margin-right: 2.667vw;
    margin-top: 1.333vw;
  }

  .rose-petals,
  .scrub,
  .red-strawberry,
  .white-strawberry,
  .strawberry-scent,
  .oil-strawberry {
    font-size: 4.4vw;
    letter-spacing: -0.067vw;
  }

  .rose-petals-txt,
  .scrub-txt,
  .red-strawberry-txt,
  .white-strawberry-txt,
  .strawberry-scent-txt,
  .oil-strawberry-txt {
    padding-top: 0.8vw;
    font-size: 3.2vw;
    letter-spacing: -0.073vw;
    font-weight: 600;
    color: #716d6d;
  }

  .oil-strawberry-txt {
    width: 100%;
  }

  .sup {
    font-size: 2.133vw;
    vertical-align: revert;
  }

  .span {
    font-size: 2.667vw;
  }

  .rose {
    padding-top: 4.8vw;
  }

  .rose::after {
    top: 27.3%;
    right: -5.2%;
    width: 11.333vw;
    height: 11.067vw;
  }

  .skin {
    margin: -0.933vw 0 0 -2vw;
    max-width: 59.6vw;
  }

  .point01-row01,
  .point01-row02,
  .point02-row01,
  .point03-row01 {
    display: flex;
  }

  .point01-row01,
  .point02-row02,
  .point03-row01 {
    flex-direction: column-reverse;
  }

  .point01-row02,
  .point02-row01,
  .point03-row02 {
    flex-direction: column;
  }

  .point02-row02 {
    margin-left: 0.933vw;
    margin-top: -10.133vw;
  }

  .point01-ttl-2 img {
    max-width: 58.933vw;
  }

  .sugar {
    margin-top: 0.4%;
    margin-left: -5.867vw;
  }

  .sugar::after {
    top: -66%;
    left: 1.933vw;
    right: inherit;
    width: 13.333vw;
    height: 11.867vw;
  }

  .point02 {
    margin-left: 8.267vw;
    padding-top: 5.5vw;
  }

  .point02-ttl {
    padding-left: 0;
    margin-left: -4.8vw;
    margin-top: 0.6vw;
  }

  .point02-ttl img {
    max-width: 33.333vw;
  }

  .point02-ttl-2 img {
    max-width: 46.533vw;
    margin-left: 9.2vw;
  }

  .point02-bg {
    padding: 7.833vw 4.48vw 1.667vw;
    margin-left: -7.8%;
  }

  .point02::before {
    top: 10.667vw;
    left: -8.4vw;
    width: 46.4vw;
    height: 52.667vw;
    background: url('/img/point02_before_sp.png')no-repeat center/contain;
  }

  .point02::after {
    right: -4vw;
    bottom: -2.667vw;
    width: 51.6vw;
    height: 63.333vw;
    background: url('/img/point02_after_sp.png')no-repeat center/contain;
  }

  .red {
    padding-top: 5.5%;
    margin-left: -1%;
  }

  .white {
    margin-top: 0;
    margin-left: -1.867vw;
    padding-top: 1.333vw;
  }

  .white img {
    max-width: 53.333vw;
  }

  .red-white {
    margin-left: 12.3%;
    margin-top: 15%;
  }

  .moisture {
    font-size: 2.267vw;
    letter-spacing: 0.04vw;
  }

  .point03 {
    padding-top: 4.267vw;
    margin-left: 17.267vw;
  }

  .point03-ttl {
    margin-right: -2vw;
  }

  .point03-bg {
    max-width: 74.767vw;
    padding: 10.267vw 0vw 3.933vw 4.4vw;
    background: url('/img/point03_bg_sp.png')no-repeat center/cover;
  }

  .point03::before {
    bottom: -2.4vw;
    left: -4vw;
    width: 33.067vw;
    height: 70vw;
    background: url('/img/point03_before_sp.png')no-repeat center/contain;
  }

  .point03::after {
    top: 10.667vw;
    right: -3.2vw;
    width: 48.667vw;
    height: 46vw;
    background: url('/img/point03_after_sp.png')no-repeat center/contain;
  }

  .scent {
    width: 100%;
    margin-top: 6.533vw;
  }

  .point03-row01 {
    justify-content: inherit;
    width: 75.667vw;
  }

  .oil-strawberry::after {
    top: -2.667vw;
    right: 39.733vw;
    width: 6.4vw;
    height: 8.267vw;
  }

  .point03-ttl-2 {
    width: 34.267vw;
    margin-left: 15.6vw;
  }

  .point03-row02 {
    justify-content: inherit;
    width: 100%;
    margin-top: -5.8%;
  }

  .point03-row02 span {
    display: block;
  }

  .oil {
    width: 100%;
    margin-top: -3.067vw;
    margin-left: 0.267vw;
    padding-top: 0;
  }

  .sta {
    margin-left: 18.8%;
    max-width: 35.333vw;
    padding-top: 4.733vw;
  }

  .style-sec {
    margin-top: -23.6vw;
    padding-top: 25.133vw;
    padding-bottom: 72.933vw;
    background: url('/img/style_bg_sp.png')no-repeat center/cover;
  }

  .style-alert {
    margin-top: 0.9%;
    margin-left: 36.5%;
  }

  .style-alert img {
    max-width: 28.533vw;
  }

  .style-alert::after {
    top: -0.533vw;
    right: 10.267vw;
    width: 57.467vw;
    height: 23.867vw;
    background: url('/img/style_alert_water_sp.png')no-repeat center/contain;
  }

  .style-row02 {
    align-items: flex-start;
  }

  .style-duo {
    margin-top: 2.4%;
    margin-left: 13.9%;
  }

  .duo {
    max-width: 73.867vw;
  }

  .lucky {
    bottom: -4.267vw;
    left: -10.8vw;
    max-width: 40.533vw;
  }

  .style-ttl {
    margin-top: 52.3%;
    margin-left: -0.7%;
  }

  .style-ttl img {
    max-width: 8.8vw;
  }

  .style-product-bg {
    margin-top: 5.1%;
    margin-left: 2.7%;
    padding: 5.333vw 3.733vw 8.667vw;
    max-width: 89.6vw;
  }

  .row01-txt,
  .row02-txt {
    line-height: 1.9;
    font-size: 3.067vw;
    letter-spacing: 0.16vw;
  }

  .row01-txt {
    padding-top: 1.333vw;
    padding-left: 8.667vw;
  }

  .row01-txt::after {
    top: 6.267vw;
    left: 7.467vw;
    width: 39.333vw;
    height: 18vw;
    background: url('/img/landmark_after_sp.png')no-repeat center/contain;
  }

  .style-row01-txt {
    margin-top: 2%;
    margin-left: 1.467vw;
  }

  .landmark,
  .texture {
    line-height: 1.2;
    text-align: center;
    padding-bottom: 2.067vw;
    font-size: 4.267vw;
    letter-spacing: 0.76vw;
  }

  .landmark::after {
    width: 54.133vw;
    height: 0.4vw;
  }

  .texture::after {
    left: -5.6vw;
    width: 54vw;
    height: 0.4vw;
  }

  .duo-ichigo {
    margin-top: 9.6vw;
    margin-left: 4.9%;
    max-width: 29.733vw;
  }

  .clip {
    margin-top: 9%;
    max-width: 29.867vw;
  }

  .style-row02-txt {
    margin-top: 6%;
    margin-left: 4.6%;
  }

  .row02-txt {
    padding-top: 1.333vw;
    letter-spacing: 0.213vw;
    margin-left: -7.333vw;
  }

  .row02-txt::after {
    top: 6.4vw;
    left: -2.133vw;
    width: 57.867vw;
    height: 18vw;
    background: url('/img/texture_after_sp.png')no-repeat center/contain;
  }

  .voice-sec {
    margin-top: -73.6vw;
    background: url('/img/voice_bg_sp.png')no-repeat center/cover;
  }

  .voice-bubble {
    bottom: -1.2%;
    left: -90%;
    width: 8.533vw;
    height: 8.667vw;
  }

  .voice-bubble img {
    max-width: 8.533vw;
  }

  .voice-txt {
    margin-left: 0;
    padding: 0 3.6vw 3.067vw 3.2vw;
    background: url('/img/voice_txt_bg_sp.png')no-repeat center/cover;
    max-width: 89.333vw;
  }

  .voice-row01 {
    margin-top: -16.3%;
    margin-left: 34.7%;
  }

  .voice-row01 img {
    max-width: 28.533vw;
  }

  .user-water {
    top: -3.733vw;
    left: 46%;
    width: 29.867vw;
    height: 21.6vw;
  }

  .user-water img {
    max-width: 39.2vw;
  }

  .voice-header-sec {
    flex-direction: column;
    margin-left: 2.8%;
    padding-top: 22.8vw;
    padding-bottom: 12.547vw;
  }

  .voice img {
    max-width: 33.2vw;
  }

  .user01-ttl,
  .user02-ttl,
  .user03-ttl {
    font-size: 3.067vw;
  }

  .name {
    font-size: 2.8vw;
    letter-spacing: 0.567vw;
  }

  .user01-txt,
  .user02-txt,
  .user03-txt {
    line-height: 1.4;
    font-size: 3.067vw;
    letter-spacing: -0.147vw;
    color: #716d6d;
    font-weight: 600;
  }

  .user01-txt {
    padding-left: 0;
    padding-top: 7.333vw;
    margin-left: -26.933vw;
  }

  .user02-txt {
    padding-top: 3.067vw;
    padding-left: 0.533vw;
  }

  .voice-row02 {
    margin-top: -4.7%;
    margin-left: -0.4%;
  }

  .voice-row02 img,
  .voice-row03 img,
  .voice-row04 img {
    max-width: 26.267vw;
  }

  .user02-img {
    right: 0.8vw;
    position: absolute;
    top: 2vw;
  }

  .user03-img {
    left: 0.3vw;
    position: absolute;
    top: 0.2vw;
  }

  .user01 {
    padding-top: 8.8vw;
    padding-left: 0.667vw;
  }

  .user02 {
    padding-top: 3.6vw;
  }

  .user03{
    padding-top: 4.933vw;
  }

  .voice-row02 .user-dot,
  .voice-row03 .user-dot,
  .voice-row04 .user-dot {
    padding-bottom: 2.4vw;
    max-width: 70.933vw;
  }

  .voice-row04 .user-dot {
    margin-left: auto;
  }

  .user01-ttl {
    padding-top: 5.333vw;
    padding-left: 4.8vw;
  }

  .user02-ttl {
    letter-spacing: -0.067vw;
    line-height: 1.4;
    padding-left: 9.733vw;
    padding-top: 0.533vw;
  }

  .voice-row03 {
    margin-left: -0.2%;
    padding-top: 1.733vw;
    display: block;
    position: relative;
  }

  .voice-row04 {
    margin-top: 1.7%;
    margin-left: 0.3%;
    display: block;
    position: relative;
  }

  .user03-ttl {
    padding-top: 3.733vw;
    line-height: 1.1;
    padding-left: 30.2vw;
    font-size: 3.067vw;
  }

  .user03-txt {
    padding-top: 6.167vw;
    padding-left: 0.4vw;
    letter-spacing: -0.207vw;
  }

  .product-sec-mv .l-inner,.howto-sec .l-inner {
    max-width: fit-content;
    margin: 0;
  }

  .product-sec {
    margin-top: 0;
    margin-right: -3.2vw;
    padding-top: 13.2vw;
  }

  .product-header-ttl img {
    max-width: 8vw;
  }

  .product-bg {
    padding: 0 4vw 5.2vw;
    background: url('/img/product_detail_bg_sp.png')no-repeat center/cover;
    max-width: 92vw;
  }

  .product-bubble {
    top: -7.6%;
    left: 33.3%;
    width: 27.2vw;
    height: 27.6vw;
  }

  .product-bubble img {
    max-width: 34vw;
  }

  .face-product {
    width: 55.067vw;
  }

  .face-product p img {
    max-width: 17.6vw;
  }

  .face-product p:first-child {
    width: 17.6vw;
    padding-left: 0;
    order: 2;
  }

  .face-product p:last-child {
    order: 3;
  }

  .product-row01 {
    display: flex;
    flex-direction: column-reverse;
  }

  .product-ichigo {
    margin-top: -10.4%;
    margin-left: 1%;
    max-width: 25.467vw;
  }

  .product {
    padding-top: 4.133vw;
    padding-left: 1.2%;
}

  .pkg {
    margin-top: -13.2%;
  }

  .shop-detail-alert {
    margin-top: -12.9%;
    margin-left: 34.6%;
  }

  .shop-detail-alert {
    max-width: 28.533vw;
  }

  .like {
    padding-top: 0;
    text-align: end;
    margin-top: -6.533vw;
    margin-right: 1.6vw;
  }

  .product-alert {
    margin-left: 66.8%;
    max-width: 26.533vw;
  }

  .duo-pkg {
    margin-top: -10.4%;
    margin-left: 19.3%;
    max-width: 51.6vw;
  }

  .list-blk {
    padding-top: 6.4vw;
    padding-left: 1.2vw;
    padding-right: 1.067vw;
  }

  .product-ttl {
    margin-top: -0.267vw;
    padding-left: 1.6vw;
    font-size: 3.6vw;
    letter-spacing: 0.227vw;
  }

  .product-txt01 {
    line-height: 1.3;
    margin-top: -1.333vw;
    padding-left: 1.6vw;
    font-size: 3.067vw;
    letter-spacing: 0.08vw;
  }

  .product-btn {
    padding-top: 2.667vw;
    padding-bottom: 1.567vw;
    padding-left: 1.067vw;
  }

  .product-btn img {
    max-width: 77.333vw;
  }

  .product-txt02,
  .product-txt03 {
    line-height: 1.4;
    padding-left: 1.6vw;
    font-size: 2.267vw;
    letter-spacing: 0.227vw;
  }

  .howto-sec {
    padding-top: 12.5%;
  }

  .howto {
    margin-left: 5.5%;
  }

  .howto img {
    max-width: 41.6vw;
  }

  .howto-bg {
    margin-left: 0;
    padding: 0 0 10.467vw 7.467vw;
    background: url('/img/howto_bg_sp.png')no-repeat center/cover;
    max-width: 94.933vw;
  }

  .input-bubble {
    top: -10.6%;
    left: -40.3%;
    width: 39.067vw;
    height: 28.4vw;
  }

  .input-bubble img {
    max-width: 40.267vw;
  }

  .input-point {
    margin-top: -9.9%;
    margin-left: 65.5%;
  }

  .input-point {
    max-width: 28.533vw;
  }

  .step {
    padding-top: 0.3vw;
    margin-top: -15.233vw;
    flex-wrap: wrap;
  }

  .step li {
    width: 40.267vw;
  }

  .step li:nth-child(2) {
    padding-top: 14.8vw;
  }

  .step li:nth-child(2) h4 {
    margin-left: -2.667vw;
  }

  .step li:nth-child(3) {
    margin-top: -2vw;
  }

  .step li h4 img {
    max-width: 39.467vw;
    margin-left: 0.133vw;
  }

  .step li:nth-child(3) .face {
    padding-top: 3.333vw;
    margin-left: 6.707vw;
    margin-bottom: 0;
  }

  .step li:nth-child(4){
    margin-top: 4.533vw;
  }

  .step li:nth-child(4) h4 {
    margin-left: -2.467vw;
  }

  .step li:nth-child(4) .face {
    margin: -5.867vw 0 1.333vw 1.333vw;
    max-width: 32.533vw;
  }

  .step li::after {
    top: 7.7%;
    right: -14.4%;
    width: 7.2vw;
    height: 6vw;
    background: url('/img/arrow_sp.png')no-repeat center/contain;
  }

  .step li:nth-child(2)::after {
    top: inherit;
    bottom: 2.9%;
    left: -33.7%;
    width: 7.2vw;
    height: 6vw;
    background: url('/img/arrow_after_sp.png')no-repeat center/contain;
  }

  .step li:nth-child(3)::after {
    top: 7%;
  }

  .step li:last-child::after {
    background: none;
    display: none;
  }

  .step-txt {
    line-height: 1.6;
    padding: 2.633vw 1.467vw  0;
    font-size: 2.933vw;
    letter-spacing: -0.067vw;
    font-weight: 600;
    color: #716d6d;
  }

  .step li:nth-child(2) .step-txt { 
    padding: 2.633vw 3.6vw 0 0;
    letter-spacing: 0.033vw;
  }

  .step li:nth-child(3) .step-txt{
    padding: 2.667vw;
    letter-spacing: -0.027vw;
  }

  .step li:nth-child(4) .step-txt{
    padding: 2.667vw 2.667vw 0 0vw;
    letter-spacing: -0.04vw;
  }

  .face {
    margin-bottom: 2.267vw;
    padding-top: 4.267vw;
    max-width: 27.2vw;
    margin-left: 7.267vw;
  }

  .step li:nth-child(2) .face{
    margin-top: -0.533vw;
    padding-top: 0vw;
    margin-left: 5.6vw;
  }

  .point {
    max-width: 23.467vw;
    margin-left: 8.467vw;
  }

  .step li:nth-child(2) .point {
    margin-left: 5.867vw;
    margin-top: -2.533vw;
  }

  .step li:nth-child(4) .point{
    margin-left: 5.867vw;
  }

  .ft {
    margin-top: -11.7%;
    padding-top: 27.2%;
    padding-bottom: 11.3%;
    background: url('/img/ft_02_sp.png')no-repeat center/cover;
  }

  .shop-sec {
    display: block;
    flex-direction: inherit;
    align-items: inherit;
    margin: 0 auto;
    max-width: 89.467vw;
  }

  .shop {
    max-width: 30.533vw;
    margin-left: auto;
  }

  .ft-bg {
    padding: 0.2% 8.5% 8.5%;
    background: url('/img/ft_txt_bg_sp.png')no-repeat center/cover;
    max-width: 89.467vw;
  }

  .ft-sale {
    margin-top: -14.2%;
    margin-left: 32.5%;
  }

  .ft-sale img {
    max-width: 28.533vw;
  }

  .ft-bubble {
    top: -10.9%;
    left: -15.4%;
    width: 41.333vw;
    height: 28.133vw;
  }

  .ft-bubble img {
    max-width: 41.333vw;
  }

  .ft-bg-ttl {
    line-height: 1.4;
    padding-top: 3.7%;
    padding-bottom: 1.7%;
    padding-left: 33.7%;
    font-size: 7.867vw;
    letter-spacing: -0.547vw;
  }

  .ft-bg-ttl span {
    font-size: 3.2vw;
  }

  .ft-bg-txt {
    line-height: 1.8;
    font-weight: 500;
    font-size: 3.333vw;
    letter-spacing: 0.04vw;
  }

  .ft-txt01 {
    padding-top: 1.867vw;
    padding-left: 4.933vw;
    font-size: 2.267vw;
    letter-spacing: 0.213vw;
  }

  .ft-txt01 span {
    display: inline-block;
    text-indent: -2.267vw;
  }

  .ft-txt02 {
    padding-top: 6.4vw;
    padding-bottom: 3.6vw;
    font-size: 3.067vw;
    letter-spacing: 0.413vw;
    font-weight: 500;
  }

  .ft-btn01,
  .ft-btn02 {
    position: relative;
    text-align: center;
  }

  .ft-btn01 img,
  .ft-btn02 img {
    max-width: 90.667vw;
  }

  .ft-btn01::after {
    right: 20.2%;
    width: 16.933vw;
    height: 12.8vw;
    background: url('/img/duo_gray_sp.png')no-repeat center/contain;
  }

  .product-detail {
    padding-top: 4.267vw;
    padding-bottom: 2.133vw;
  }

  .product-detail img {
    max-width: 48vw;
    margin: 0 auto;
  }
}